  
      body {
        font-family: 'Open Sans';font-size: 22px;
        background-color: #e7f1f7;
        color: #ffffff;
        text-align: center;  
      }
  
      p {
        background-color: rgb(132, 222, 254);
        padding: 20px 30px;
        border-radius: 8px;
      }
    
   